@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Helvetica");


:root{
  font-family: Helvetica, sans-serif;
  
}
.title {
  font-family: "Helvetica", sans-serif;
  font-weight: bolder;
  font-size: 2rem;
}

.hero-section{
  position: relative;
  height: 80vh; 
  background-image: url('https://cdn.hashnode.com/res/hashnode/image/upload/v1706437958071/e0b3386c-dce8-473f-9190-4aa8e89b1d10.jpeg'); 
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff; 
}
